body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: 'Inter', sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  font-family: 'Inter', sans-serif;
}

img {
  vertical-align: top;
}